@charset "UTF-8";

/* CSS Document */

body {
    background: url('../img/symphony.png') repeat;
    /* Background image from http://subtlepatterns.com/ */
    color: DimGray;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    text-align: center;
}

#wrapper .name {
    color: tomato;
}

#wrapper .title {
    color: Salmon;
}

#wrapper .email {
    color: DarkSeaGreen;
    text-decoration: none;
}

#wrapper .name {
    border: 10px solid tomato;
    display: inline;
    margin-bottom: 0px;
    padding: 7px;
}

#wrapper {
    margin-top: 150px;
}

#wrapper .title {
    padding-top: 20px;
}

#wrapper .phone-number {
    color: DarkSeaGreen;
}


/* -------------- Quote Styles ------------*/

#wrapper .inspirational-quote {
    color: rgb(116, 99, 99);
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    margin-top: 50px;
}

.linebreak {
    border: 1px solid grey;
    margin: 30px auto;
    width: 50%;
}